@import "tailwindcss";

@theme{
  --shadow-boxShadow: 0 0 12px rgba(146, 186, 255, 0.6); 
  --color-pastel-blue: #94BBFF;
  --color-accent-blue: #71A0FF;
  --color-primary: #6366f1;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
